:root {
  font-size: 10px;
}

@mixin bg($image) {
  background: url($image);
  background-size: cover;
}

.App {
  text-align: center;
  @include bg("./images/sunny.jpg");
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5.8rem;
  line-height: 7rem;
  padding: 0 1rem;
}

p {
  font-size: 4rem;
  max-width: 50.5rem;
  padding: 0 2.5rem;
  margin-top: 0;
}

.App-wrapper {
  &.sunny {
    @include bg("./images/sunny.jpg");
  }

  &.haze{
    @include bg("./images/haze.jpg");

  }

  &.wind,
  &.drizzle,
  &.clouds {
    @include bg("./images/rainy.jpg");
  }
}

.App-body {
  font-family: "Quicksand", sans-serif;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f7f7f7;
  text-shadow: 0 3px 4.45px rgba(0, 0, 0, 0.17);
}

footer {
  color: white;
  padding-bottom: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;

  a {
    color: white;
  }
}
